<%= form_with model: [@user, @post], class: "form" do |f| %>
  <div class="form-group p-5">
    <%= f.label :title, class: "form-label" %>
    <%= f.text_field :title, class: "form-control" %>
    <%= f.label :body, class: "form-label" %>
    <%= f.text_area :body, class: "form-control" %>
    <%= f.label :contact, class: "form-label" %>
    <%= f.text_field :contact, class: "form-control" %>
    <%= f.label :location, class: "form-label" %>
    <%= f.text_field :location, class: "form-control" %>
    <%= f.label :category, class: "form-label" %>
    <%= f.text_field :category, class: "form-control" %>
    <%= f.label :status, class: "form-label" %>
    <%= f.text_field :status, class: "form-control" %>
    <%= f.label :value, class: "form-label" %>
    <%= f.text_field :value, class: "form-control" %>
    <%= f.label :km, class: "form-label" %>
    <%= f.text_field :km, class: "form-control" %>
    <%= f.label :year, class: "form-label" %>
    <%= f.text_field :year, class: "form-control" %>
    <%= f.label :color, class: "form-label" %>
    <%= f.text_field :color, class: "form-control" %>
    <%= f.label :gear, class: "form-label" %>
    <%= f.text_field :gear, class: "form-control" %>
    <%= f.label :brand, class: "form-label" %>
    <%= f.text_field :brand, class: "form-control" %>
    <%= f.label :model, class: "form-label" %>
    <%= f.text_field :model, class: "form-control" %>
    <%= f.label :version, class: "form-label" %>
    <%= f.text_field :version, class: "form-control" %>
    <%= f.label :fuel, class: "form-label" %>
    <%= f.text_field :fuel, class: "form-control" %>
    <%= f.label :description, class: "form-label" %>
    <%= f.text_area :description, class: "form-control" %>
    <%= f.label :rank, class: "form-label" %>
    <%= f.text_field :rank, class: "form-control" %>
    <%= f.label :detail, class: "form-label" %>
    <%= f.text_area :detail, class: "form-control" %>
    <%= f.label :payment_type, class: "form-label" %>
    <%= f.text_field :payment_type, class: "form-control" %>
    <%= f.label :delivery, class: "form-label" %>
    <%= f.text_field :delivery, class: "form-control" %>
    <%= f.label :warranty, class: "form-label" %>
    <%= f.text_field :warranty, class: "form-control" %>
    <%= f.label :plate, class: "form-label" %>
    <%= f.text_field :plate, class: "form-control" %>
    <%= f.label :shaken, class: "form-label" %>
    <%= f.text_field :shaken, class: "form-control" %>
    <%= f.label :shaken_until, class: "form-label" %>
    <%= f.text_field :shaken_until, class: "form-control" %>
    <% if current_user.is_service? %>
      <%= f.label :service_title, class: "form-label" %>
      <%= f.text_field :service_title, class: "form-control" %>
      <%= f.label :service_type, class: "form-label" %>
      <%= f.text_field :service_type, class: "form-control" %>
      <%= f.label :service_category, class: "form-label" %>
      <%= f.text_field :service_category, class: "form-control" %>
      <%= f.label :service_status, class: "form-label" %>
      <%= f.text_field :service_status, class: "form-control" %>
      <%= f.label :service_value, class: "form-label" %>
      <%= f.text_field :service_value, class: "form-control" %>
      <%= f.label :service_contact, class: "form-label" %>
      <%= f.text_field :service_contact, class: "form-control" %>
      <%= f.label :service_location, class: "form-label" %>
      <%= f.text_field :service_location, class: "form-control" %>
      <%= f.label :service_address, class: "form-label" %>
      <%= f.text_field :service_address, class: "form-control" %>
      <%= f.label :service_phone, class: "form-label" %>
      <%= f.text_field :service_phone, class: "form-control" %>
      <%= f.label :service_body, class: "form-label" %>
      <%= f.text_area :service_body, class: "form-control" %>
      <%= f.label :service_rank, class: "form-label" %>
      <%= f.text_field :service_rank, class: "form-control" %>
      <%= f.label :service_detail, class: "form-label" %>
      <%= f.text_area :service_detail, class: "form-control" %>
      <%= f.label :service_payment_type, class: "form-label" %>
      <%= f.text_field :service_payment_type, class: "form-control" %>
      <%= f.label :service_delivery, class: "form-label" %>
      <%= f.text_field :service_delivery, class: "form-control" %>
      <%= f.label :service_warranty, class: "form-label" %>
      <%= f.text_field :service_warranty, class: "form-control" %>
    <% end %>
  </div>

  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
